<button type="submit" class="btn btn-primary" formaction="/api/games/create" formmethod="post" onclick="
                        document.querySelectorAll('#newGame_input')[0].value = prompt('Please enter shortName of new Game');">+&thinsp;new</button>