<div id="footer">
     <%# <ul class="list-unstyled">
        <li class="col-sm-4 col-xs-6"> <button type="submit" class="btn-link" formaction="/">Home</button> </li>
        <li class="col-sm-4 col-xs-6"> <button type="submit" class="btn-link" formaction="/about">About</button> </li>
        <li class="col-sm-4 col-xs-6"> <button type="submit" class="btn-link" formaction="/cookies">Cookies?</button> </li>
        <li class="col-sm-4 col-xs-6"> <button type="submit" class="btn-link" formaction="/live/login">Login</button> </li>
        <li class="col-sm-4 col-xs-6"> <button type="submit" class="btn-link" formaction="/contact">Contact</button> </li>
    </ul>
  %>
    <ul class="list-unstyled">
        <li class="col-sm-4 col-xs-6"> <a class="btn-link" href="/">Home</button> </li>
        <li class="col-sm-4 col-xs-6"> <a class="btn-link" href="/about">About</button> </li>
        <li class="col-sm-4 col-xs-6"> <a class="btn-link" href="/cookies">Cookies?</button> </li>
        <li class="col-sm-4 col-xs-6"> <a class="btn-link" href="/live/login">Login</button> </li>
        <li class="col-sm-4 col-xs-6"> <a class="btn-link" target="_blank" href="https://znw.io/social">Mastodon</button> </li>
        <li class="col-sm-4 col-xs-6"> <a class="btn-link" target="_blank" href="https://znw.io/d">Discord</button> </li>
        <li class="col-sm-4 col-xs-6"> <a class="btn-link" href="/contact">Contact</button> </li>
    </ul>
    <p class="pull-right text-info"> &copy;by Blubbll 2013-
        <%=(new Date().getFullYear().toString().substr(2,2));%>
    </p>
</div>